html, body {
	background: #222;
	color: #ccc;
  font-size: large;
	height: 100%;
	width: 100%;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#container { 
	height: 100%;
	width: 100%;
	margin: 0 auto;
}

#content {
  height: 500px;
  width: 500px;
  margin: 10% auto;
  left: 50%;
  top: 50%;
}

a { color: #5CCD00; text-decoration: none; }
a:hover { text-decoration: underline; }

#header {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#header .header-title {
	color: #999;
  font-size: 88pt;
}

#header .header-title .header-title-bright { color: #fff; }

#header .header-subtitle {
  font-size: 26pt;
}

#search {
  padding-top: 40px;
}

#search .information {
  padding-bottom: 15px;
}

#search input[type=text] {
  width: 75%;
  height: 38px;
	-webkit-appearance: none;
	border: 0;
	background: #000;
	color: #ccc;
	padding: 0 5px; 
}

#search input[type=submit] {
  background: #5CCD00;
	background: -moz-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background: -webkit-gradient(linear,left top,left bottom,color-stop(0%,#5CCD00),color-stop(100%,#4AA400));
	background: -webkit-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background: -o-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background: -ms-linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	background: linear-gradient(top,#5CCD00 0%,#4AA400 100%);
	filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#5CCD00', endColorstr='#4AA400',GradientType=0);
	padding: 10px 15px;
	color: #fff;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid #459A00;
	text-align: center;
	vertical-align: center;
}

#results {
  padding-top: 40px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

#results img {
	float: left;
}

#results .loading {
  font-size: 30pt;
  padding-left: 20px;
}

#results .results-text {
  float: left;
  padding: 15px;
  width: 75%;
}

#results .results-number {
  font-weight: bolder;
}

#results a:last-of-type { margin-top: 10px; clear: both; float: left; }
